cache/php2wsdl-endpoint[element]-version[1].output.xml

<definitions
        name="element"
        targetNamespace="element"
        xmlns:typens="element"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <types>
        <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:element">
            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
            
            <xsd:complexType name="StringArray">
                <xsd:complexContent>
                    <xsd:restriction base="soapenc:Array">
                        <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType name="RegionArray">
                <xsd:complexContent>
                    <xsd:restriction base="soapenc:Array">
                        <xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:Region[]"/>
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <xsd:complexType  name="Region">
                <xsd:sequence>
                    <part name="Name" type="xsd:string"  />
                    <part name="Code" type="xsd:string"  />
                    <part name="MaxCapacity" type="xsd:int" nillable="true" />
                    <part name="Date" type="xsd:string"  />
                    <part name="Active" type="xsd:boolean"  />
                </xsd:sequence>
            </xsd:complexType>

        </xsd:schema>
    </types>
    
    <message name="getRegionRequest">
        <part name="Hash" type="xsd:string"  />
        <part name="code" type="xsd:string"  />
    </message>
    <message name="getRegionResponse">
        <part name="Region" type="typens:Region"  />
    </message>
    <message name="addRegionRequest">
        <part name="Hash" type="xsd:string"  />
        <part name="region" type="typens:Region"  />
    </message>
    <message name="addRegionResponse">
        <part name="String" type="xsd:string"  />
    </message>
    <message name="getRegionsRequest">
        <part name="Hash" type="xsd:string"  />
        <part name="codes" type="typens:StringArray" nillable="true" />
        <part name="Language" type="xsd:string" nillable="true" />
    </message>
    <message name="getRegionsResponse">
        <part name="Region" type="typens:RegionArray"  />
    </message>

    <portType name="ElementPortType">
        <operation name="getRegion">
            <input message="typens:getRegionRequest"/>
            <output message="typens:getRegionResponse"/>
        </operation>
        <operation name="addRegion">
            <input message="typens:addRegionRequest"/>
            <output message="typens:addRegionResponse"/>
        </operation>
        <operation name="getRegions">
            <input message="typens:getRegionsRequest"/>
            <output message="typens:getRegionsResponse"/>
        </operation>
    </portType>

    <binding name="ElementBinding" type="typens:ElementPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="getRegion">
            <soap:operation soapAction="getRegion"/>
            <input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></input>
            <output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></output>
        </operation>

        <operation name="addRegion">
            <soap:operation soapAction="addRegion"/>
            <input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></input>
            <output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></output>
        </operation>

        <operation name="getRegions">
            <soap:operation soapAction="getRegions"/>
            <input><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></input>
            <output><soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:element" use="encoded"/></output>
        </operation>
    </binding>

    <service name="ElementService">
        <documentation>WSDL File for Elements</documentation>
        <port binding="typens:ElementBinding" name="ElementPort">
            <soap:address location="" />
        </port>
    </service>
</definitions>